<div class="container">
  <h1 class="form-title">Form example</h1>
  <div id="error-alert"></div>
  <%= form_tag(pages_register_path, remote: true, id: 'register-form') do %>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <%= text_field_tag :name, 'Foo bar', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-email-input" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <%= text_field_tag :email, 'example@form-polling.com', class: 'form-control', type: 'email' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-search-input" class="col-2 col-form-label">Entity number</label>
      <div class="col-10">
        <%= text_field_tag :entity_number, '3812749082', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
      <div class="col-10">
        <%= text_field_tag :telephone, '+43 073-5028729', class: 'form-control', type: 'tel' %>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">Birth date</label>
      <div class="col-10">
        <%= text_field_tag :birth_date, '1988-05-13', class: 'form-control', type: 'date' %>
      </div>
    </div>
    <div align="center">
      <%= button_tag "Submit form", class: 'btn btn-primary', id: 'form-submit', 'data-loading-text' => "<i class='fa fa-circle-o-notch fa-spin'></i> Submitting form..." %>
    </div>
  <% end %>
</div>
